#auth_page > section {
    padding: 13vh 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth_form_section {
    background-image: url(/public/assets/taxi_background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
}