.form_base {
    background-color: white;
    padding: 4vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    border-radius: 20px;
    box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.158);
}

.form_base .inputs_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.form_base h2 {
    text-align: center;
    margin-bottom: 0 !important;
}

.form_base .submit_button {
    width: 50%;
    align-self: center;
    height: 5vh;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    background-color: rgb(31, 206, 40);
    transition: 0.2s;
    margin-top: 1vh;
    cursor: pointer;
}

.form_base .submit_button:hover {
    background-color: rgb(39, 223, 48);
    transition: 0.2s;
}

.form_base .input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form_base .input_wrapper > input {
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
    height: 3rem;
    font-size: 1.125rem;
    padding: 0 8px;
    color: black;
}

.form_base .input_wrapper > input::placeholder {
    color: rgb(160, 160, 160);
}

.form_base .input_wrapper > p {
    color: rgb(126, 126, 126);
}